<div>
    <div class="modal-header">
        <button type="button" class="close"  aria-label="Close" ng-click="dc.cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">CHANGE PASSWORD</h4>
    </div>
    <form name="changePasswordForm" novalidate>
        <div class="modal-body">

            <div class="form-group">
                <label for="old">Old Password:</label>
                <input type="text" id="old" class="form-control" name="old" ng-model="dc.oldPassword" ng-required="true"/>

                <div class="alert-danger alert" ng-if="changePasswordForm.old.$invalid && changePasswordForm.$submitted">
                    <span class="glyphicon glyphicon-flag"></span>
                    <span ng-show="changePasswordForm.old.$error.required">Password is required</span>
                </div>
            </div>

            <div class="form-group">
                <label for="new">New Password:</label>
                <input type="text" id="new" class="form-control" name="new" ng-minlength="6" ng-model="dc.newPassword" ng-required="true"/>

                <div class="alert-danger alert" ng-if="changePasswordForm.new.$invalid && changePasswordForm.$submitted">
                    <span class="glyphicon glyphicon-flag"></span>
                    <span ng-show="changePasswordForm.new.$error.required">Password is required</span>
                    <span ng-show="changePasswordForm.new.$error.minlength">Password should have at least 6 characters</span>
                </div>
            </div>

            <div class="form-group">
                <label for="confirm">Confirm Password:</label>
                <input type="text" id="confirm" class="form-control" name="confirm" ng-minlength="6"
                       ng-model="dc.confirmPassword" data-password-verify="dc.newPassword" ng-required="true"/>

                <div class="alert alert-danger" ng-if="changePasswordForm.confirm.$invalid && changePasswordForm.$submitted">
                    <span class="glyphicon glyphicon-flag"></span>
                    <span ng-show="changePasswordForm.confirm.$error.required">Confirmation password is required</span>
                    <span ng-show="changePasswordForm.confirm.$error.minlength">Confirmation password should have at least 6 characters</span>
                    <span ng-show="changePasswordForm.confirm.$error.passwordVerify">Passwords are not equal</span>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" ng-click="dc.cancel()">CANCEL</button>
            <button class="btn btn-default" type="submit" ng-click="changePasswordForm.$valid && dc.submit()">DONE</button>
        </div>
    </form>
</div>