<div>
    <div class="modal-header">
        <button type="button" class="close"  aria-label="Close" ng-click="dc.cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">DELETE RULE</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <p>Are you sure you want to delete the rule <b ng-bind="dc.ruleName"></b>?
                    This operation cannot be reversed!</p>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" ng-click="dc.cancel()">CANCEL</button>
            <button class="btn btn-default" type="button" ng-click="dc.submit()">DELETE</button>
        </div>
    </form>
</div>